<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='shortcut icon' href='/images/favicon.ico'>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <button onclick="sseController.init()">sse test init</button>
  <button onclick="sseController.close()">sse test close</button>
</body>

</html>
<script>
  console.log('<%= title %>');
</script>
<script src='/javascripts/javascriptFile.js'></script>